@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #FFE6E6;
    color:#7469B6
    
}

header #nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #E1AFD1;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}
.navbar{
    font-weight: 400 ;
}

.navbar a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: #FFE6E6;
}



.email-label{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
    flex-direction: column;
}

.email-label h2{
    font-weight: 800;
    font-size: 2em;
    word-wrap: break-word;
    padding: 8px;
}

.input-box{
    padding: 10px;
}

.btn {
    color: #FFE6E6;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    }


.button input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #7469B6;

}

.input-box input[type='email'] {
    max-width: 500px;
    width: 100%;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.features{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#news .features{
    margin-top: 30px;
}
.features h3 {
    font-weight: 800;
    font-size: 1.5em;
    padding: 5px;
}

.features p {
    font-weight: 400;
    font-size: 1em;
    padding: 5px 5px;
}


#video-label {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#video-label iframe{
    max-width: 560px;
    width: 100%;
}














@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  
